/* 
Nuestro fichero de css 
*/

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    color: teal;
}

main:before {
    content: "Mobile first";
}

/* .grid {
    border: 1px solid #333;
    background-color: #DDD;
    padding: 20px;
} */

.row div[class^="col"] {
    border: 1px solid #333;
    background-color: #DDD;
    padding: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer li {
    list-style-type: none;
}

footer a {
    color: white;
    text-decoration: none;
}

.alineacion {
    height: 150px;
    background-color: wheat;
    margin-bottom: 20px;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    main:before {
        content: "Small device 576";
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    main:before {
        content: "Medium device 768";
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    main:before {
        content: "Large device 992";
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    main:before {
        content: "extra-large device 1200";
    }
}